.App {
  padding: 0px 20px;
}

.lists {
  display: flex;
  border-radius: 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.amazon {
  background-color: #ff9900;
  border-radius: 20px;
  margin-right: 5%;
}
.button {
  background-color: aqua;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5%;
  cursor: pointer;
}

.button1 {
  background-color: rgb(200, 22, 22);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5%;
  cursor: pointer;
}

.button2 {
  background-color: rgb(176, 213, 29);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5%;
  cursor: pointer;
}

.button3 {
  background-color: rgb(187, 35, 101);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5%;
  cursor: pointer;
}

.button4 {
  background-color: rgb(25, 65, 225);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5%;
  cursor: pointer;
}
.button5 {
  background-color: rgb(67, 67, 68);
  border: none;
  font: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  margin-right: 5%;
  cursor: pointer;
}
.button:hover {
  border: 1px solid black;
  background-color: #00bcd4;
  transform: scale(1.05);
}

.button1:hover {
  border: 1px solid black;
  background-color: #c41616;
  transform: scale(1.05);
}

.button2:hover {
  border: 1px solid black;
  background-color: #b0d51d;
  transform: scale(1.05);
}

.button3:hover {
  border: 1px solid black;
  background-color: #bb2365;
  transform: scale(1.05);
}

.button4:hover {
  border: 1px solid black;
  background-color: #1941e1;
  transform: scale(1.05);
}
.button5:hover {
  border: 1px solid black;
  background-color: #414347;
  transform: scale(1.05);
}
